.books-wrapper {
  /* padding: 24px; */
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1; */
}
@media (max-width: 768px) {
  .books-wrapper {
    /* padding: 12px; */
  }
}
.book-wrapper {
  /* margin: 0 0 0 1em; */
  padding: 0 0 0 1em;
  /* width: 220px; */
  

}
@media (max-width: 768px) {
  .book-wrapper {
    padding: 0 0 0 0.75em;
    /* width: 46%; */

  }
  .book-heading-section{
    margin-top: 18px;
    margin-bottom: 0 !important;
  }
  /* margin: 0 0 0 5px; */
}
.book-heading-section{
  margin-top: 18px;
  margin-bottom: 24px;
}

.modal-wrapper{
  display: flex !important;
  align-items: center;
  color: unset !important;
  justify-content: center;
}
.ReactModal__Content{
  padding: 54px 90px !important;
  border-radius: 48px !important;
  
}
.ReactModal__Overlay{
  background-color: rgba(0, 0, 0, 0.85) !important;
}
.modal-img{
  height: 360px;
}
@media only screen and (max-width: 600px) {
  .ReactModal__Content{
    border-radius: 24px !important;
    padding: 36px 18px 18px 18px!important;
    width: 86% !important;
  }
  .modal-img{
    height: 180px;
  }
}
