header,
.row {
  display: flex;
  flex-direction: row; /* aligns all child elements (flex items) in a row */
  justify-content: space-around;
  padding: 12px;
  align-items: center;
  
}
header{
  padding-bottom: 18px;
}
.col {
  flex: 1;
  flex-direction: row; /* aligns all child elements (flex items) in a row */
  justify-content: space-around;
  font-size: 16px;
  align-items: center;
  /* distributes space on the line equally among items */
}
.first {
  display: flex;
  justify-content: flex-start;
  width: 330px !important;
  flex: none;
}
.first h4 {
  white-space: nowrap;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  padding-left: 24px;
  
  /* white-space: nowrap; */
  /* background-color: antiquewhite; */
  /* width: 100%; */

  /* left: 1%; */
  /* right: 1%; */
}
.second p {

    margin: 10px 0 0 0;
  
}
@media only screen and (max-width: 768px) {
  header{
    padding-top: 6px;
    padding-bottom: 0px;
  }
  header,
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
  }
  .first {
    display: flex;
    justify-content: space-around;
    justify-content: flex-start !important; 
    margin-left: 12px;
    width: unset !important;
  }
  .perc-header{
    margin-right: 18px;
  }
  .col {
    display: flex;
    flex-direction: row; /* aligns all child elements (flex items) in a row */
    justify-content: space-around;

    align-items: center;
  }
  .mobile {
    display: none;
  }
  .mobile__header {
    display: flex;
    justify-content: flex-end;
  }
}
.sorting-icon{
  margin-left: 9px;
}