.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-between; */
}
.grid > * {
  flex: 0 0 18%;
}

@media only screen and (max-width: 768px) {
  .grid > * {
    flex: 0 0 45%;
  }
}
